@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: Roboto;
    padding: 0px;
    margin: 0px;
}
body{
    padding: 0px 400px;

    background-color: azure;
}

.nav{
    display: flex;
    justify-content: space-between;;
}