@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: Roboto;
    padding: 0px;
    margin: 0px;
}
body{
    background-color: azure;
}

header{
    padding: 0px 400px;
    background-image: url("images/car\ image.jpg");
    background-size: cover;
    background-position: center;
    height: 95vh;
}

.nav{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    
}

footer{
    padding: 20px 400px;
    height: 5vh;
}